<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wojci.bean_sputnik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BEAN SPUTNIK"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DaltonizmTest"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wojci.bean_sputnik.MainActivity" />
        </activity>

        <activity android:name=".aboutBEAN"
            android:label="BEAN"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wojci.bean_sputnik.MainActivity" />
        </activity>

        <activity android:name=".SpotTheDot"
            android:label="BEAN"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wojci.bean_sputnik.MainActivity" />
        </activity>

        <!--mam nadzieję że nie wkurzy cię że quizowi dodałem atrybut motywu żeby nie wyświetlał paska na górze - chciałem żeby pasował do całości apki,
         można potem tam włożyć logo BEAN albo co innego-->
        <activity android:name=".QuizActivity"
            android:theme="@style/AppTheme.NoActionBar">
            </activity>

    </application>

</manifest>